@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
}

.header-head{
  display: flex;
  width: 85%;
  background-color: rgb(47, 54, 75);
  margin: 1.5rem auto;
  border-radius: .5rem;
  justify-content: space-between;
  padding: .5rem;
}

.extension-logo{
  width: 160px;
}

.icon-sun-container{
  display: flex;
  align-items: center;
  border-radius: .5rem;
  padding: .6rem;
  background-color: rgb(33, 44, 76);
  transition: outline 0.2s, border 0.2s;
}

.theme-logo{
  width: 18px;
}

.icon-sun-container:hover{
  cursor: pointer;
}

.icon-sun-container:focus {
  outline: 2px solid #ff4f4f;
  outline-offset: 2px; 
}

.Body-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.Body {
  width: 85%;
  margin: 2rem auto;

}

.Body-head-left{
  font-size: 1.5rem;
  margin-right: 3rem;
  font-weight: bold;
}

.Body-head-right{
  display: flex;
  padding-left: 0;
}

.Body-head-right-parent{
  display: flex;
  
}

.Body-head-right li{
  list-style: none;
  margin:0 0 0 .5rem;
  border-radius: 1rem;
  padding: .2rem .8rem;
  transition: outline 0.2s, border 0.2s;
}

.Body-head-right li:hover{
  cursor:pointer
}

.Body-head-right li:active{
  border: 2px solid rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
}

.Body-head-right li:focus{
  outline: 2px solid #ff4f4f;
  outline-offset: 2px; 
}

.Cards-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1.5rem; */
  gap:2rem;
}


.Card{
  background-color: hsl(226, 25%, 17%);
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  border: 1px solid hsl(0, 0%, 78%);
  /* min-width: 100px; */
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* max-width: 300px;
  min-width: 200px; */

}

.Card-top{
  display: flex;
  justify-content: space-between;
  margin-bottom: .2rem;
  min-height: 99.667px;
}

.card-img img{
  width: 50px;
}

.card-details{
  width: 80%;
  margin-left: 4px;
  
}

.card-head-head{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: .5rem;
  color: hsl(0, 0%, 93%);
}

.card-head-description{
  font-size: .8rem;
}

.card-botton{
  display: flex;
  justify-content: space-between;
}

.card-botton-left{
  padding: .5rem .8rem;
  border: 1px solid hsl(0, 0%, 78%);
  border-radius: 1rem;
  background:none;
  transition: outline 0.2s, border 0.2s;

}

.removeBtnDark{
  color: white;
  border: 1px solid white;
}

.removeBtnLight{
  color: black;
  border: 1px solid black;

}


.card-botton-left:hover{
  cursor: pointer;
}

.card-botton-left:focus{
  outline: 2px solid #ff4f4f; 
  outline-offset: 2px;
}

.backgroundColor {
  background-color: rgb(40, 59, 85);
  opacity: .8;
}

.toggle1{
  width: 2.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  border-radius:  9999px;
  padding: 0 0 0 0.25rem;
  cursor: pointer;
  transition:0.3s ease;
  transition: outline 0.2s, border 0.2s;
}

.toggle1:focus{
  outline: 2px solid #ff4f4f;
  outline-offset: 2px; 
}

.bg-orange{
  background-color: hsl(3, 86%, 64%);
}

.bg-gray{
  background-color: gray;
}

.toggle2{
  background-color: white;
  width: 1rem;
  height: 1rem;
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  transition-duration: 0.3s;
}

.translate-x-5{
  transform: translateX(1.25rem);
}

.lightThemeTextColor{
  color: hsl(226, 25%, 17%);
}

.darkThemeTextColor{
  color:white ;
}

/* Dark Theme */
.dark {
  background-color: "#2c3e50";
  color: white;
}

.backgroundColorDark {
  background-color: "hsl(226, 25%, 17%)";
}

/* Light Theme */
.light {
  background-color: #f0f4ff;
  color: hsl(226, 25%, 17%);
}

.backgroundColorLight {
  background-color: #ffffff;
}

.textColorLight{
 color: "hsl(225, 23%, 24%)";
}

.textColorDark{
 color: "hsl(0, 0%, 93%)";
}

.empty-search-list{
  font-size: 1.6rem;
}

@media (max-width: 1079px) {
  /* .Cards-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  } */
   .Body-head{
    display: flex;
    flex-wrap: wrap;
   }  

   .Body-head-right{
    padding-left: 0;
   }
}

@media (max-width: 706px){

  .empty-search-list{
  font-size: 1.2rem;
}

  .header-head{
    margin-top: 1rem;
  }
  .Cards-container{
    grid-template-columns: repeat(2,1fr);
  }


  .Body-head-right-parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: unset;
  }

  .Body-head-right li{
    margin-left: 0;
    margin-right: .5rem;
  }

  .Cards-container{
    column-gap: 1rem;
  }

  .Card{
    min-width: 110px;
  }

  .Body-head-left{
    font-size: 17px;
  }

  .Body-head-right{
    font-size: 12px;
  }

  .card-img img{
    width: 30px;
  }

  .card-head-head{
    font-size: 13px;
  }

  .card-head-description{
    font-size: 11px;
  }

  .card-botton-left{
    font-size: 8px;
    padding: 6px 10px;
  }

      .toggle1 {
        height: 13px;
        width: 27px;
        padding-right: 3px;
        padding-left: .8px;
    }

      .toggle2 {
        height: 9px;
        width: 9px;
    }

    .extension-logo{
      width: 120px;
    }

    .header-head{
      padding: .2rem .3rem;
    }

    .theme-logo{
      width: 13px;
    }

    .icon-sun-container{
      padding: .4rem;
    }

}

@media (max-width: 424px){

  .empty-search-list{
  font-size: 1.1rem;
}
  .header-head{
    width: 95%;
  }

  .Body{
    width: 95%;
  }

  .Cards-container{
    gap: 1rem;
  }

  .search-container input{
    font-size: .65rem;
  }

  .search-container i{
    font-size: .65rem;
  }

  
  .Body-head-right li{
    font-size: .7rem;
  }
}

@media (max-width: 365px){

  .empty-search-list{
  font-size: 1rem;
}

  .header-head{
    width: 98%;
  }

  .Body{
    width: 98%;
  }

  .Cards-container{
   column-gap: .5rem;
  }

  .search-container input{
    font-size: .65rem;
  }

  .search-container i{
    font-size: .65rem;
  }

  .Body-head-right li{
    font-size: .7rem;
  }
}

