@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
}

.header-head{
  display: flex;
  width: 85%;
  background-color: rgb(78, 95, 128);
  margin: 2rem auto;
  border-radius: .5rem;
  justify-content: space-between;
  padding: .5rem;
}

.icon-sun-container{
  display: flex;
  align-items: center;
  border-radius: .5rem;
  padding: .6rem;
  background-color: #0f1124;
  transition: outline 0.2s, border 0.2s;
}

.icon-sun-container:hover{
  cursor: pointer;
}

.icon-sun-container:focus {
  outline: 2px solid #ff4f4f;
  outline-offset: 2px; 
}

.Body-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.Body {
  width: 85%;
  margin: 2rem auto;

}

.Body-head-left{
  font-size: 1.3rem;
  margin-right: 3rem;
}

.Body-head-right{
  display: flex;
  padding-left: 0;
}

.Body-head-right-parent{
  display: flex;
  
}

.Body-head-right li{
  list-style: none;
  margin:0 0 0 .5rem;
  border-radius: 1rem;
  padding: .2rem .8rem;
  transition: outline 0.2s, border 0.2s;
}

.Body-head-right li:hover{
  cursor:pointer
}

.Body-head-right li:active{
  border: 2px solid rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
}

.Body-head-right li:focus{
  outline: 2px solid #ff4f4f;
  outline-offset: 2px; 
}

.Cards-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1.5rem; */
  gap:2rem;
}


.Card{
  background-color: gray;
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  border: 1px solid white;
  /* min-width: 100px; */
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* max-width: 300px;
  min-width: 200px; */

}

.Card-top{
  display: flex;
  justify-content: space-between;
  margin-bottom: .2rem;
  min-height: 99.667px;
}

.card-img img{
  width: 50px;
}

.card-details{
  width: 80%;
  
}

.card-head-head{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.card-head-description{
  font-size: .8rem;
}

.card-botton{
  display: flex;
  justify-content: space-between;
}

.card-botton-left{
  padding: .5rem .8rem;
  border-radius: 1rem;
  background:none;
  transition: outline 0.2s, border 0.2s;

}

.removeBtnDark{
  color: white;
  border: 1px solid white;
}

.removeBtnLight{
  color: black;
  border: 1px solid black;

}


.card-botton-left:hover{
  cursor: pointer;
}

.card-botton-left:focus{
  outline: 2px solid #ff4f4f; 
  outline-offset: 2px;
}

.backgroundColor {
  background-color: rgb(40, 59, 85);
  opacity: .8;
}

.toggle1{
  width: 2.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  border-radius:  9999px;
  padding: 0 0 0 0.25rem;
  cursor: pointer;
  transition:0.3s ease;
}

.bg-orange{
  background-color: rgb(255, 0, 0);
}

.bg-gray{
  background-color: gray;
}

.toggle2{
  background-color: white;
  width: 1rem;
  height: 1rem;
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  transition-duration: 0.3s;
}

.translate-x-5{
  transform: translateX(1.25rem);
}

/* Dark Theme */
.dark {
  background-color: "#2c3e50";
  color: white;
}

.backgroundColorDark {
  background-color: "#2c3e50";
}

/* Light Theme */
.light {
  background-color: #f0f4ff;
  color: black;
}

.backgroundColorLight {
  background-color: #ffffff;
}


@media (max-width: 1079px) {
  /* .Cards-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  } */
   .Body-head{
    display: flex;
    flex-wrap: wrap;
   }

   .Body-head-right{
    padding-left: 0;
   }
}

@media (max-width: 706px){
  .Cards-container{
    grid-template-columns: repeat(2,1fr);
  }


  .Body-head-right-parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: unset;
  }

  .Body-head-right li{
    margin-left: 0;
    margin-right: .5rem;
  }

  .Cards-container{
    column-gap: 1rem;
  }

  .Card{
    min-width: 110px;
  }

  .Body-head-left{
    font-size: 17px;
  }

  .Body-head-right{
    font-size: 12px;
  }

  .card-img img{
    width: 30px;
  }

  .card-head-head{
    font-size: 13px;
  }

  .card-head-description{
    font-size: 11px;
  }

  .card-botton-left{
    font-size: 8px;
    padding: 6px 10px;
  }

      .toggle1 {
        height: 13px;
        width: 27px;
        padding-right: 3px;
        padding-left: .8px;
    }

      .toggle2 {
        height: 9px;
        width: 9px;
    }

}
